@model web.Models.Chore

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.householdID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.householdID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.choredesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.choredesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.repetition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.repetition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.finished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.finished)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="choreID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
